body{
	height: 100%;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.icon{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../img/common/back.png) no-repeat;
	background-size: contain;
}

.welcome{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px 10px;
}

.welcome h3{
	text-align: center;
	width: 94%;
	margin: 0 auto;
	margin-bottom: 10px;
	color: #c3a85e;
	line-height: 20px;
}

.welcome p{
	margin: 0 auto;
	font-size: 13px;
	color: #999;
}

.welcome .color-gold{
	color: #c3a85e;
}
.detailed{
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.down{
	margin: 6px 5px 0 5px;
	border-bottom: 6px solid #eee;
	border-left: 6px solid #eee;
	border-right: 6px solid #eee;
	border-top: 6px solid #c3a85e;

}

.contact{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.info{
  display: flex;
}

.info img{
  width: 70px;
  height: 70px;
  margin: 10px 0 10px 10px;
}

.btn{
  height: 90px;
  width: 76px;
  background-color: rgb(254, 138, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn a{
	text-align: center;
}
.btn img{
  height: 25px;
  margin: 0;
}

.btn p{
	font-size: 12px;
	margin-top: 10px;
}
.info .tel :first-child{
	font-size: 15px;
}
.info .tel{
  margin: 5px 5px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	color: black;
	font-size: 15px;
}
.car-content{
	width: 100%;
	background-color: #fff;

}
.box{
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
	padding:10px;
	height: 20px;
}
.box:last-child{
	border: none;
}
.box p{
	color: #333;
}
.box-assess{
	padding:10px;
	border-top: 1px solid #eee;
}
.ase2{
	padding:0 10px 10px 10px;
	color: #999;
	border-top: none;
	line-height: 20px;
}

.box-assess span{
	font-size: 13px;
}
.total{
	line-height: 20px;
	padding:10px;
	text-align: center;
	font-size: 15px;
	height: 20px;
}

.total span:last-child{
  color: rgb(254, 138, 1);
}

.pay-footer {
    width: 100%;
    height: 60px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
		background-color: #eee;
		position: fixed;
		bottom: 0px;
		max-width: 500px;
}

.btn1{
	width: 40%;
	height: 40px;
	border-radius: 4px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cancel{
	background-color: #fff;
}
.cancel a{
	color: #3266cc;
}
.pay-now{
	background-color: #3266cc;
	color: #fff;
}


.order-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
	height: 70px;
	background-color: #fff;
}

.info-left-img {
	width: 70px;
	height: 70px;
	border: 1px solid #eee;
}

.info-left {
	display: flex;
}

.info-left-img {
	margin-right: 10px;
}

.info-left-msg {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70px;
}

.info-right {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 100%;
	color: #666;
	font-size: 12px;
}

.msg-title {
	font-size: 16px;
	color: #333;
}

.msg-mark {
	margin-left: 10px;
	font-size: 16px;
	color: #2168a4;
}

.msg-type {
	font-size: 13px;
	color: #2168a4;
}

.msg-fee {
	font-size: 14px;
	color: #666;
}

.msg-fee-num {
	color: #f89c0d;
	font-size: 14px;
}

.info-left-l {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 35px;
}

.order-content {
	margin-top: 10px;
	background-color: #fff;
	color: #333;
}
.content-all:last-of-type{
	margin-bottom: 80px;
}
.content-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #eee;
	height: 20px;
}

.content-title-name {
	font-size: 15px;
}

.content-title-fee {
	color: #f89c0d;
	font-size: 15px;
}

.content-list {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
}


.content-list ul li {
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
}

.list-name {
	font-size: 14px;
	color: #777;
}

.list-type {
	font-size: 13px;
	color: #999;
}

.list-num {
	font-size: 13px;
    color: #666;
    min-width: 50px;
    display: inline-block;
    text-align: right;
}

.list-done {
	padding: 2px 4px;
	font-size: 12px;
	color: #fff;
	background-color: #f89c0d;
	border: 0;
	border-radius: 5px;
}

.cover{
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #555;
	opacity: 0.6;
	z-index: 4;
	max-width: 500px;
	display: none;
	margin: 0 auto;
}

.bomb-all{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-width: 500px;
	position: relative;
}

.little-cancel{
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: -12.5px;
	right: -12.5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.little-cancel img{
	width: 12px;
	height: 12px;
}

.bomb{
	border-radius: 5px;
	width: 90%;
	text-align: center;
	background: #fff;
	position: fixed;
	top: 100px;
	/*left: 5%;*/
	display: none;
	z-index: 4;
	margin: 0 auto;
	max-width: 450px;
}

.bomb>h3{
	color: #333;
	margin: 5% auto;
}

.bomb>img{
	width: 50%;
	max-width: 500px;
	margin-top: 5%;
}

.bomb p{
	font-size: 13px;
}

.cue{
	margin: 2.5% 15% 0 15%;
	display: flex;
	flex-direction: column;
	width: 70%;
}

.cue-price{
	display: flex;
	justify-content: center;
	margin: 4% auto;
}

.color-yellow{
	color: rgb(254, 138, 1);
}

.active{
	display: inline-block;
}

.method-words{
	width: 90%;
	margin: 0 auto;
}
.method-words p{
	font-size: 11px;
	color: #999;
	line-height: 16px;
}

.btn2{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin: 5% auto;
}

.btn2 div{
	width: 38%;
	padding: 4%;
	border-radius: 5px;
	font-size: 13px;
}

.cancel2{
	background-color: rgb(238, 238, 238);
	color: rgb(109, 109, 109);
}

.finish{
	color: #fff;
	background-color: rgb(254, 138, 1);
}

.active{
	display: flex;
}
.active1{
	display: block;
}
.assess{
	width: 100%;
}

/*小星星*/
.stars-all{
	display: flex;
	justify-content: space-between;
}

.stars{
	background: url('../img/ad/star2.png') repeat-x;
	overflow: hidden;
	background-size: 15px 15px ;

}
.stars img{
	width: 15px;
}


/*这里是有n颗星就添加star n;*/
.star1{
	width: 15px;
	height: 15px;
}
.star2{
	width: 30px;
	height: 15px;
}
.star3{
	width: 45px;
	height: 15px;
}
.star4{
	width: 60px;
	height: 15px;
}
.star5{
	width: 75px;
	height: 15px;
}
