img,ul,li,div,p,a{
  margin: 0;
  padding:0;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
html{
  font-size: 17px;
  font-family: "微软雅黑";
  height:100%;
}
body{
  margin:0px;
  height:100%;
}
#box{
  border: 1px solid #ccc;
  background: rgb(26, 51, 85);
  position: relative;
  height: 100%;
  padding-top:8%;
  padding-bottom:8%;
  /*height:100%;*/
}
#box:after{
  content: "";
  display: block;
  clear: both;
}
.logo{
  width: 40%;
}
.inner-title{
  display: inline-block;
}
#box-content{
  width: 95%;
  margin: auto;
}
#main-up{
  padding-top:0.5rem;
  width: 100%;
  background:rgb(48, 193, 160);
}
.cube2{
  width: 4%;
  position: relative;;
  left: 3px;
  top: 3px;
}
.normal-wash{
  position: relative;
  top: 0.2rem;
  height:5rem;
}
.word1{
  color: #fff;
  font-family: "微软雅黑";
  font-size: 0.8rem;
  margin-left: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.word2{
  color: #fff;
  font-family: "微软雅黑";
  font-size: 2rem;
  position: absolute;
  margin:0rem;
  padding:0rem;
  top:1.5rem;
  margin-left: 1rem;

}
.inner-content{
  width:90%;
  margin: 0 auto;
  padding-bottom:1.5rem;
  position:relative;
  /*padding: 5% 0;*/
}
.main-down{
  text-align: center;
}
.main-down:after{
  content: "";
  display: block;
  clear: both;
}

.content-text{
  margin-top:1rem;
}
.content-text p{
  color: #fff;
  font-size: 0.85rem;
}
.main-down li{
  display: inline-block;
  width: 32%;
  height: 4.5rem;
  float: right;
  margin-right: 2%;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  background: rgb(37, 132, 124);
  color: #fff;
}
.main-down li>a p{
  margin-top: 1rem;
  font-size: 0.9rem;
}
.main-down li>a p:last-child{
  margin-top: 0rem;
}
.main-down li:first-of-type{
  margin-right: 0px;
}
.main-down{
  width:100%;
  margin: 0 auto;
}
#footer{
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: rgb(37, 132, 124);
}
#footer>a{
  text-decoration: none;
  color: #fff;
}
.width-two li{
  width:49%
}
.width-one li{
  width:100%
}
.width-three li{
  width:32%;
}
