div,ul,li,p,img{
  margin: 0;
  padding: 0;
}
html{
  font-size: 17px;
}
body{
  margin:0;
}
p{
  font-family: "微软雅黑";
  color: #fff;
}
#content{
  border: 1px solid #ccc;
  margin: 0 auto;
  background: rgb(26, 51, 85);
}
#content-all{
  margin: 8% auto;
}

.header img{
  width: 6%;
}
.header p{
  color: #fff;
  position: relative;
  top: -3px;
  left: 5px;
  font-size: 0.8rem;
}
.header{
  margin: 10px 0;
}
#head-pic{
  margin:30px auto;
  margin-top: 0px;
}
#head-pic img{
  width: 40%;
  margin-left: 5%;
}

.title-big{
  margin-left: 5%;
}
.h1{
  font-size: 1.1rem;
}
.h2{
  font-size: 0.7rem;
  margin: 0.5rem 0rem 2rem 0rem;
}
#part{
  width: 90%;
  margin: 0 auto;
}
#part:after{
  content:"";
  display: block;
  clear: both;
}
.inner-text{
  display: inline-block;
}
.box-all{
  display: flex;
  flex-direction: row;
}
.box-left{
  display: flex;
  flex-direction: column;

}
.box1{
  text-align: center;
  margin-bottom: 0.4rem;
}

/*动画部分：*/

@keyframes overturn {
  0%{transform: rotateY(0deg);}
  24.99%{transform: rotateY(87deg);}
  50%{transform: rotateY(-10deg);}
  66%{transform: rotateY(10deg);}
  82%{transform: rotateY(-5deg);}
  99%{transform: rotateY(5deg);}
  100%{transform: rotateY(0deg);}
}
.animate{
  -webkit-animation: overturn 3s;
}






.box1 img{
  position: relative;
  top: 25px;
  left: -3px;
  height:30%;
}
.box1>a p{
  position: relative;
  top: 2.2rem;
  text-decoration: none;
  font-size: 0.7rem;
}
.box1 a{
  text-decoration: none;
  align-items: center;
}
.line{
  text-decoration: line-through;
  font-size: 0.7rem;
  color: #fff;
  position: relative;
  top:2rem;
}
.box2{
  width: 74%;
  height: 9rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7rem;
  align-items: center;
  /*justify-content: flex-end;*/
  flex-direction: column;
}
.box2 div{
  text-align: center;
  margin-left: 0.4rem;
  margin-bottom: 0.4rem;
  /*position: relative;*/
  display: -webkit-fix;
  display: flex;
  justify-content: center;
  flex-direction: column;

  /*默认宽度为两列宽度*/
  width:46%;
}


/*DIV区，用户将需要的样式直接放在该元素class中*/

/*左边大快：*/
.row1{
  height: 2.53rem;
}
.row2{
  height: 5.47rem;
}
.row3{
  height: 8.4rem;
}
/*行*/
.box2 .row-three{
  height: 2.53rem;
}
.box2 .row-two{
  height: 4rem;
}
.box2 .row-one{
  height: 8.4rem;
}

/*列*/
.box2 .column-one{
  width:95%;
}
.box2 .column-two{
  width:46%;
}
.box2 .column-three{
  width:29.67%;
}
.box2 .new-column{
  width:64%;
}

/*模板区：使用时将其放入父元素*/

.r3-c3 div{
  height: 2.53rem;
  width:29.67%;
}
.r3-c2 div{
  height: 2.53rem;
  width:46%;
}
.r3-c1 div{
  height: 2.53rem;
  width:95%;
}
.r2-c3 div{
  height: 4rem;
  width:29.67%;
}
.r2-c2 div{
  height: 4rem;
  width:46%;
}
.r2-c1 div{
  height: 4rem;
  width:95%;
}
.r1-c3 div{
  height: 8.4rem;
  width:29.67%;
}
.r1-c2 div{
  height: 8.4rem;
  width:46%;
}
.r1-c1 div{
  height: 8.4rem;
  width:95%;
}


/*颜色区：*/

.green{
  background: rgb(48, 193, 160);
}

.purple{
  background: rgb(151, 105, 214);
}
.blue{
  background: rgb(65, 162, 231);

}
.light-blue{
  background: rgb(2, 188, 213);
}
